@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("/css/satoshi.css");
body {
  font-family: "Satoshi-Variable";
}
.inter-family {
  font-family: "Inter", sans-serif;
}
.satoshi {
  font-family: "Satoshi-Variable";
}
.bg-green-secondary {
  background-color: #05f228;
}
.text-success {
  color: #05f228 !important;
}
.bg-white {
  background-color: #fff;
}
.bg-primary {
  background-color: #023f40 !important;
}
.bg-gradient {
  background: radial-gradient(at left top, #05f22923, #023f4000) !important;
}
.bg-gradient-nav {
  background: radial-gradient(at left bottom, #05f22923, #023f4000);
}
.bg-secondary {
  background-color: #f8f8f8 !important;
}
.vh-100 {
  min-height: 100vh !important;
}
.vh-header {
  min-height: 60vh !important;
}
.vh-80 {
  min-height: 80vh !important;
}
.vh-75 {
  min-height: 75vh !important;
}
.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #023f40;
  --bs-btn-border-color: #023f40;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #013a3b;
  --bs-btn-hover-border-color: #012b2c;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #022627;
  --bs-btn-active-border-color: #012020;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #023f40;
  --bs-btn-disabled-border-color: #023f40;
}
.w-100 {
  width: 100%;
}
.btn-secondary {
  --bs-btn-color: #023f40;
  --bs-btn-bg: #05f228;
  --bs-btn-border-color: #05f228;
  --bs-btn-hover-color: #023f40;
  --bs-btn-hover-bg: #37f754;
  --bs-btn-hover-border-color: #31eb4d;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #023f40;
  --bs-btn-active-bg: #31eb4d;
  --bs-btn-active-border-color: #28f747;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #05f228;
  --bs-btn-disabled-border-color: #05f228;
}
.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  color: #36474f;
  pointer-events: none;
  background-color: #ffffff;
  border-color: var(--bs-btn-disabled-border-color);
  opacity: 1;
  border-radius: 100px;
  border: 1px solid #e8e8e8 !important;
  background: #fff;
}
.text-neutral {
  color: #36474f;
}
.bg-search {
  background-color: #f9fafa;
}
.steps-header {
  color: #023f40;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font-size: 11px;
}
/* border */
.step-border {
  border-radius: 8px;
  background: rgba(204, 217, 217, 0.6);
  height: 9rem;
}
/* responsive */
@media (min-width: 992px) {
  .col-lg-4-modified {
    flex: 0 0 auto;
    width: 30.33333333%;
  }
}
.cta-image {
  max-width: 100%;
  max-height: 100%;
}
.cta-gradient {
  background: rgb(2, 63, 64);
  background: -moz-linear-gradient(
    90deg,
    rgba(2, 63, 64, 1) 44%,
    rgba(3, 110, 58, 1) 64%,
    rgba(3, 122, 56, 1) 78%,
    rgba(3, 104, 58, 1) 93%,
    rgba(2, 83, 61, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 63, 64, 1) 44%,
    rgba(3, 110, 58, 1) 64%,
    rgba(3, 122, 56, 1) 78%,
    rgba(3, 104, 58, 1) 93%,
    rgba(2, 83, 61, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(2, 63, 64, 1) 44%,
    rgba(3, 110, 58, 1) 64%,
    rgba(3, 122, 56, 1) 78%,
    rgba(3, 104, 58, 1) 93%,
    rgba(2, 83, 61, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#023f40",endColorstr="#02533d",GradientType=1);
}
.cta-image {
  background: url("/img/images/cta.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.fs-8 {
  font-size: 0.8rem;
}

.fs-7 {
  font-size: 0.9rem;
}
.fs-9 {
  font-size: 0.7rem;
}
.fs-10 {
  font-size: 0.6rem;
}

.text-footer {
  color: #ccd9d9;
}
.text-footer-link {
  color: #ccd9d9;
}

.text-footer-link:hover {
  color: #ffffff;
}
ul li {
  list-style-type: none;
}

.text-black {
  color: #121212;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 1px #05f228;
}

.navbar-toggler {
  border: var(--bs-border-width) solid rgb(0 0 0 / 0%);
}

.navbar-toggler-light:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 1px #023f40 !important;
}

.navbar-toggler-light {
  border: var(--bs-border-width) solid rgb(0 0 0 / 0%);
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #023f40;
  --bs-btn-border-color: #023f40;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #012324;
  --bs-btn-hover-border-color: #031e1f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #031e1f;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #023f40;
  --bs-btn-disabled-border-color: #023f40;
}
.btn-info {
  --bs-btn-color: #000;
  --bs-btn-bg: #ccd9d94d;
  --bs-btn-border-color: #ccd9d94d;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #9aa7a74d;
  --bs-btn-hover-border-color: #ccd9d936;
  --bs-btn-focus-shadow-rgb: 11, 172, 204;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ccd9d936;
  --bs-btn-active-border-color: #ccd9d936;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ccd9d94d;
  --bs-btn-disabled-border-color: #ccd9d94d;
  border-radius: 100px !important;
}

.text-purple {
  color: #023f40;
}

.bg-fff {
  background-color: #fff;
}
.btn-outline-primary {
  --bs-btn-color: #023f40;
  --bs-btn-border-color: #023f40;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #023f40;
  --bs-btn-hover-border-color: #023f40;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #023f40;
  --bs-btn-active-border-color: #023f40;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #023f40;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #023f40;
  --bs-gradient: none;
}
.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  background: #ffffff;
}
.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 120px;
  height: 120px;
  display: grid;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #023f40 92%, #023f40);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}
.loader::before {
  margin: 4px;
  /* filter: hue-rotate(52deg); */
  background-size: 9px 9px;
  animation-timing-function: linear;
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
}
.bg-style {
  background-image: url('data:image/svg+xml,<svg width="inherit" height="inherit" viewBox="0 0 798 1054" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M86.4937 16.8906C109.974 20.2545 131.383 11.9277 134.311 -1.7079C137.24 -15.3435 120.578 -29.1242 97.0978 -32.4881C73.6171 -35.852 52.2084 -27.5251 49.2802 -13.8896C46.352 -0.254013 63.013 13.5267 86.4937 16.8906Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M54.5301 165.284C78.0108 168.648 99.4194 160.321 102.348 146.686C105.276 133.05 88.6148 119.269 65.1341 115.905C41.6534 112.542 20.2448 120.868 17.3166 134.504C14.3884 148.14 31.0494 161.92 54.5301 165.284Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M65.1341 115.906C88.6148 119.269 110.023 110.943 112.952 97.307C115.88 83.6714 99.2188 69.8907 75.7381 66.5268C52.2574 63.1629 30.8488 71.4898 27.9206 85.1253C24.9924 98.7609 41.6534 112.542 65.1341 115.906Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M75.8897 66.2693C99.3704 69.6332 120.779 61.3063 123.707 47.6708C126.635 34.0352 109.974 20.2544 86.4937 16.8906C63.0131 13.5267 41.6044 21.8535 38.6762 35.4891C35.748 49.1246 52.409 62.9054 75.8897 66.2693Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M319.988 50.411C343.468 53.7749 364.877 45.448 367.805 31.8125C370.733 18.1769 354.072 4.39617 330.592 1.0323C307.111 -2.33157 285.702 5.99527 282.774 19.6308C279.846 33.2664 296.507 47.0471 319.988 50.411Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M288.024 198.805C311.505 202.169 332.913 193.842 335.842 180.206C338.77 166.571 322.109 152.79 298.628 149.426C275.147 146.062 253.739 154.389 250.811 168.025C247.882 181.66 264.543 195.441 288.024 198.805Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M330.592 1.0324C354.072 4.39627 375.481 -3.93056 378.409 -17.5661C381.337 -31.2017 364.676 -44.9824 341.196 -48.3463C317.715 -51.7102 296.306 -43.3833 293.378 -29.7478C290.45 -16.1122 307.111 -2.33147 330.592 1.0324Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M298.628 149.426C322.109 152.79 343.517 144.463 346.446 130.827C349.374 117.192 332.713 103.411 309.232 100.047C285.751 96.6834 264.343 105.01 261.415 118.646C258.486 132.281 275.147 146.062 298.628 149.426Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M309.384 99.7897C332.864 103.154 354.273 94.8267 357.201 81.1911C360.129 67.5556 343.468 53.7748 319.988 50.411C296.507 47.0471 275.098 55.3739 272.17 69.0095C269.242 82.645 285.903 96.4258 309.384 99.7897Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M553.543 83.8705C577.049 87.238 598.479 78.9142 601.407 65.2786C604.335 51.6431 587.653 37.8593 564.147 34.4918C540.64 31.1242 519.211 39.448 516.282 53.0836C513.354 66.7191 530.036 80.5029 553.543 83.8705Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M521.579 232.264C545.085 235.632 566.515 227.308 569.443 213.672C572.371 200.037 555.689 186.253 532.183 182.885C508.677 179.518 487.247 187.842 484.319 201.477C481.391 215.113 498.072 228.897 521.579 232.264Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M564.147 34.4918C587.653 37.8594 609.083 29.5355 612.011 15.9C614.939 2.26441 598.257 -11.5193 574.751 -14.8869C551.244 -18.2545 529.815 -9.93064 526.886 3.70492C523.958 17.3405 540.64 31.1242 564.147 34.4918Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M532.183 182.885C555.69 186.253 577.119 177.929 580.047 164.294C582.976 150.658 566.294 136.874 542.787 133.507C519.281 130.139 497.851 138.463 494.923 152.098C491.995 165.734 508.677 179.518 532.183 182.885Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M542.939 133.249C566.445 136.617 587.875 128.293 590.803 114.657C593.731 101.022 577.049 87.2379 553.543 83.8704C530.036 80.5028 508.607 88.8266 505.678 102.462C502.75 116.098 519.432 129.881 542.939 133.249Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M203.187 33.678C226.667 37.0418 248.076 28.715 251.004 15.0795C253.932 1.4439 237.271 -12.3369 213.791 -15.7007C190.31 -19.0646 168.901 -10.7378 165.973 2.89779C163.045 16.5333 179.706 30.3141 203.187 33.678Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M171.223 182.072C194.704 185.436 216.112 177.109 219.04 163.473C221.969 149.838 205.308 136.057 181.827 132.693C158.346 129.329 136.938 137.656 134.009 151.292C131.081 164.927 147.742 178.708 171.223 182.072Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M181.827 132.693C205.308 136.057 226.716 127.73 229.645 114.094C232.573 100.459 215.912 86.6781 192.431 83.3142C168.95 79.9503 147.542 88.2772 144.613 101.913C141.685 115.548 158.346 129.329 181.827 132.693Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M192.583 83.0566C216.063 86.4204 237.472 78.0936 240.4 64.4581C243.328 50.8225 226.667 37.0417 203.187 33.6779C179.706 30.314 158.297 38.6408 155.369 52.2764C152.441 65.9119 169.102 79.6927 192.583 83.0566Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M436.742 67.1374C460.248 70.5049 481.678 62.1811 484.606 48.5455C487.534 34.91 470.852 21.1262 447.346 17.7587C423.839 14.3911 402.41 22.7149 399.482 36.3505C396.553 49.986 413.235 63.7698 436.742 67.1374Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M404.778 215.531C428.285 218.899 449.714 210.575 452.642 196.939C455.571 183.304 438.889 169.52 415.382 166.152C391.876 162.785 370.446 171.109 367.518 184.744C364.59 198.38 381.272 212.164 404.778 215.531Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M447.346 17.7588C470.852 21.1263 492.282 12.8025 495.21 -0.833064C498.138 -14.4686 481.456 -28.2524 457.95 -31.6199C434.443 -34.9875 413.014 -26.6637 410.086 -13.0281C407.157 0.607437 423.839 14.3912 447.346 17.7588Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M415.382 166.152C438.889 169.52 460.318 161.196 463.247 147.56C466.175 133.925 449.493 120.141 425.986 116.774C402.48 113.406 381.05 121.73 378.122 135.365C375.194 149.001 391.876 162.785 415.382 166.152Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M426.138 116.516C449.644 119.884 471.074 111.56 474.002 97.9242C476.93 84.2886 460.248 70.5049 436.742 67.1373C413.235 63.7698 391.806 72.0936 388.878 85.7291C385.949 99.3647 402.631 113.148 426.138 116.516Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M691.505 1.83953C714.986 5.2034 736.394 -3.12344 739.323 -16.759C742.251 -30.3945 725.59 -44.1753 702.109 -47.5392C678.628 -50.903 657.22 -42.5762 654.292 -28.9407C651.363 -15.3051 668.024 -1.52434 691.505 1.83953Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M670.297 100.597C693.778 103.961 715.186 95.6338 718.115 81.9983C721.043 68.3627 704.382 54.582 680.901 51.2181C657.42 47.8542 636.012 56.1811 633.084 69.8166C630.155 83.4522 646.816 97.2329 670.297 100.597Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M638.333 248.991C661.814 252.354 683.223 244.028 686.151 230.392C689.079 216.757 672.418 202.976 648.937 199.612C625.457 196.248 604.048 204.575 601.12 218.21C598.192 231.846 614.853 245.627 638.333 248.991Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M680.901 51.2182C704.382 54.5821 725.79 46.2552 728.719 32.6197C731.647 18.9841 714.986 5.20336 691.505 1.83949C668.024 -1.52438 646.616 6.80246 643.688 20.438C640.759 34.0736 657.42 47.8543 680.901 51.2182Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M648.937 199.612C672.418 202.976 693.827 194.649 696.755 181.013C699.683 167.378 683.022 153.597 659.541 150.233C636.061 146.869 614.652 155.196 611.724 168.832C608.796 182.467 625.457 196.248 648.937 199.612Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M659.693 149.975C683.174 153.339 704.582 145.012 707.511 131.377C710.439 117.741 693.778 103.961 670.297 100.597C646.816 97.2329 625.408 105.56 622.48 119.195C619.551 132.831 636.212 146.612 659.693 149.975Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M808.303 18.3625C831.809 21.7301 853.239 13.4062 856.167 -0.229305C859.095 -13.8649 842.413 -27.6486 818.907 -31.0162C795.4 -34.3838 773.971 -26.0599 771.043 -12.4244C768.114 1.2112 784.796 14.9949 808.303 18.3625Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M787.095 117.12C810.601 120.488 832.031 112.164 834.959 98.5282C837.887 84.8926 821.205 71.1089 797.699 67.7413C774.192 64.3738 752.763 72.6976 749.835 86.3332C746.906 99.9687 763.588 113.752 787.095 117.12Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M755.131 265.514C778.638 268.881 800.067 260.557 802.995 246.922C805.924 233.286 789.242 219.502 765.735 216.135C742.229 212.767 720.799 221.091 717.871 234.727C714.943 248.362 731.625 262.146 755.131 265.514Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M797.699 67.7411C821.205 71.1087 842.635 62.7849 845.563 49.1493C848.491 35.5137 831.809 21.73 808.303 18.3624C784.796 14.9948 763.367 23.3187 760.439 36.9542C757.51 50.5898 774.192 64.3736 797.699 67.7411Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M765.735 216.135C789.242 219.503 810.671 211.179 813.599 197.543C816.528 183.908 799.846 170.124 776.339 166.756C752.833 163.389 731.403 171.713 728.475 185.348C725.547 198.984 742.229 212.767 765.735 216.135Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M776.491 166.499C799.997 169.866 821.427 161.542 824.355 147.907C827.283 134.271 810.601 120.487 787.095 117.12C763.588 113.752 742.159 122.076 739.231 135.712C736.302 149.347 752.984 163.131 776.491 166.499Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M118.17 21.4286C141.651 24.7925 163.06 16.4657 165.988 2.83012C168.916 -10.8054 152.255 -24.5862 128.774 -27.9501C105.294 -31.3139 83.885 -22.9871 80.9568 -9.35154C78.0286 4.28401 94.6897 18.0648 118.17 21.4286Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M86.2064 169.822C109.687 173.186 131.096 164.859 134.024 151.224C136.952 137.588 120.291 123.807 96.8105 120.443C73.3298 117.08 51.9211 125.406 48.9929 139.042C46.0647 152.678 62.7258 166.458 86.2064 169.822Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M96.8104 120.443C120.291 123.807 141.7 115.481 144.628 101.845C147.556 88.2094 130.895 74.4286 107.414 71.0648C83.9337 67.7009 62.5251 76.0277 59.5969 89.6633C56.6687 103.299 73.3297 117.08 96.8104 120.443Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M107.566 70.8072C131.047 74.1711 152.456 65.8443 155.384 52.2087C158.312 38.5732 141.651 24.7924 118.17 21.4285C94.6897 18.0647 73.2811 26.3915 70.3528 40.0271C67.4246 53.6626 84.0857 67.4434 107.566 70.8072Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M351.711 54.9557C375.217 58.3233 396.647 49.9995 399.575 36.3639C402.503 22.7283 385.821 8.94459 362.315 5.57702C338.808 2.20945 317.379 10.5333 314.451 24.1688C311.522 37.8044 328.204 51.5882 351.711 54.9557Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M319.747 203.349C343.254 206.717 364.683 198.393 367.611 184.758C370.54 171.122 353.858 157.338 330.351 153.971C306.845 150.603 285.415 158.927 282.487 172.563C279.559 186.198 296.241 199.982 319.747 203.349Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M362.315 5.57712C385.821 8.94469 407.251 0.620849 410.179 -13.0147C413.107 -26.6503 396.425 -40.434 372.919 -43.8016C349.412 -47.1692 327.983 -38.8453 325.055 -25.2098C322.126 -11.5742 338.808 2.20955 362.315 5.57712Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M330.351 153.971C353.858 157.338 375.287 149.014 378.215 135.379C381.144 121.743 364.462 107.96 340.955 104.592C317.449 101.224 296.019 109.548 293.091 123.184C290.163 136.819 306.845 150.603 330.351 153.971Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M341.107 104.334C364.613 107.702 386.043 99.3781 388.971 85.7425C391.899 72.1069 375.217 58.3232 351.711 54.9556C328.204 51.588 306.775 59.9119 303.847 73.5474C300.918 87.183 317.6 100.967 341.107 104.334Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M585.266 88.4152C608.747 91.779 630.155 83.4522 633.083 69.8166C636.012 56.1811 619.351 42.4003 595.87 39.0364C572.389 35.6726 550.981 43.9994 548.052 57.635C545.124 71.2705 561.785 85.0513 585.266 88.4152Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M553.302 236.809C576.783 240.173 598.192 231.846 601.12 218.21C604.048 204.575 587.387 190.794 563.906 187.43C540.426 184.066 519.017 192.393 516.089 206.029C513.161 219.664 529.822 233.445 553.302 236.809Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M595.87 39.0365C619.351 42.4004 640.759 34.0735 643.687 20.438C646.616 6.80242 629.955 -6.97834 606.474 -10.3422C582.993 -13.7061 561.585 -5.37925 558.656 8.25631C555.728 21.8919 572.389 35.6726 595.87 39.0365Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M563.906 187.43C587.387 190.794 608.796 182.467 611.724 168.832C614.652 155.196 597.991 141.415 574.51 138.051C551.03 134.688 529.621 143.014 526.693 156.65C523.765 170.285 540.426 184.066 563.906 187.43Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M574.662 137.794C598.143 141.158 619.551 132.831 622.479 119.195C625.408 105.56 608.747 91.7789 585.266 88.4151C561.785 85.0512 540.377 93.378 537.448 107.014C534.52 120.649 551.181 134.43 574.662 137.794Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M234.91 38.2227C258.416 41.5903 279.846 33.2664 282.774 19.6309C285.702 5.99531 269.02 -7.78844 245.514 -11.156C222.007 -14.5236 200.578 -6.19974 197.65 7.43581C194.721 21.0714 211.403 34.8551 234.91 38.2227Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M202.946 186.616C226.453 189.984 247.882 181.66 250.811 168.025C253.739 154.389 237.057 140.605 213.55 137.238C190.044 133.87 168.614 142.194 165.686 155.83C162.758 169.465 179.44 183.249 202.946 186.616Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M213.55 137.238C237.057 140.605 258.486 132.281 261.415 118.646C264.343 105.01 247.661 91.2265 224.154 87.8589C200.648 84.4914 179.218 92.8152 176.29 106.451C173.362 120.086 190.044 133.87 213.55 137.238Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M224.306 87.6013C247.812 90.9689 269.242 82.645 272.17 69.0095C275.098 55.3739 258.416 41.5902 234.91 38.2226C211.403 34.855 189.974 43.1789 187.046 56.8144C184.117 70.45 200.799 84.2337 224.306 87.6013Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M468.465 71.6821C491.946 75.0459 513.354 66.7191 516.282 53.0835C519.211 39.448 502.55 25.6672 479.069 22.3034C455.588 18.9395 434.18 27.2663 431.251 40.9019C428.323 54.5374 444.984 68.3182 468.465 71.6821Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M436.501 220.076C459.982 223.44 481.391 215.113 484.319 201.477C487.247 187.842 470.586 174.061 447.105 170.697C423.625 167.333 402.216 175.66 399.288 189.296C396.359 202.931 413.02 216.712 436.501 220.076Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M479.069 22.3034C502.55 25.6673 523.958 17.3404 526.886 3.70488C529.815 -9.93067 513.154 -23.7114 489.673 -27.0753C466.192 -30.4392 444.784 -22.1123 441.855 -8.47679C438.927 5.15877 455.588 18.9395 479.069 22.3034Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M447.105 170.697C470.586 174.061 491.995 165.734 494.923 152.098C497.851 138.463 481.19 124.682 457.709 121.318C434.229 117.954 412.82 126.281 409.892 139.917C406.963 153.552 423.625 167.333 447.105 170.697Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M457.861 121.061C481.342 124.425 502.75 116.098 505.678 102.462C508.607 88.8266 491.946 75.0459 468.465 71.682C444.984 68.3181 423.576 76.645 420.647 90.2805C417.719 103.916 434.38 117.697 457.861 121.061Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M723.181 6.37749C746.662 9.74137 768.071 1.41453 770.999 -12.221C773.927 -25.8566 757.266 -39.6373 733.785 -43.0012C710.305 -46.3651 688.896 -38.0382 685.968 -24.4027C683.04 -10.7671 699.701 3.01362 723.181 6.37749Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M701.973 105.135C725.454 108.499 746.863 100.172 749.791 86.5362C752.719 72.9007 736.058 59.1199 712.577 55.7561C689.097 52.3922 667.688 60.719 664.76 74.3546C661.832 87.9901 678.493 101.771 701.973 105.135Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M670.01 253.529C693.49 256.892 714.899 248.566 717.827 234.93C720.755 221.295 704.094 207.514 680.614 204.15C657.133 200.786 635.724 209.113 632.796 222.748C629.868 236.384 646.529 250.165 670.01 253.529Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M712.577 55.7562C736.058 59.1201 757.467 50.7933 760.395 37.1577C763.323 23.5221 746.662 9.74139 723.181 6.37751C699.701 3.01364 678.292 11.3405 675.364 24.976C672.436 38.6116 689.097 52.3923 712.577 55.7562Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M680.614 204.15C704.094 207.514 725.503 199.187 728.431 185.551C731.36 171.916 714.698 158.135 691.218 154.771C667.737 151.407 646.328 159.734 643.4 173.37C640.472 187.005 657.133 200.786 680.614 204.15Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M691.369 154.513C714.85 157.877 736.259 149.55 739.187 135.915C742.115 122.279 725.454 108.499 701.973 105.135C678.493 101.771 657.084 110.098 654.156 123.733C651.228 137.369 667.889 151.15 691.369 154.513Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M840.026 22.9073C863.507 26.2712 884.916 17.9443 887.844 4.30876C890.772 -9.32679 874.111 -23.1075 850.63 -26.4714C827.15 -29.8353 805.741 -21.5085 802.813 -7.8729C799.884 5.76265 816.545 19.5434 840.026 22.9073Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M818.818 121.665C842.299 125.029 863.707 116.702 866.636 103.066C869.564 89.4307 852.903 75.65 829.422 72.2861C805.941 68.9222 784.533 77.249 781.605 90.8846C778.676 104.52 795.337 118.301 818.818 121.665Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M786.854 270.058C810.335 273.422 831.744 265.095 834.672 251.46C837.6 237.824 820.939 224.043 797.458 220.68C773.978 217.316 752.569 225.643 749.641 239.278C746.712 252.914 763.374 266.694 786.854 270.058Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M829.422 72.2859C852.903 75.6498 874.312 67.3229 877.24 53.6874C880.168 40.0518 863.507 26.2711 840.026 22.9072C816.546 19.5433 795.137 27.8701 792.209 41.5057C789.28 55.1413 805.941 68.922 829.422 72.2859Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M797.458 220.68C820.939 224.043 842.348 215.717 845.276 202.081C848.204 188.446 831.543 174.665 808.062 171.301C784.582 167.937 763.173 176.264 760.245 189.899C757.316 203.535 773.978 217.316 797.458 220.68Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><path d="M808.214 171.043C831.695 174.407 853.103 166.08 856.032 152.445C858.96 138.809 842.299 125.029 818.818 121.665C795.337 118.301 773.929 126.628 771.001 140.263C768.072 153.899 784.733 167.68 808.214 171.043Z" stroke="white" stroke-opacity="0.1" stroke-width="0.42705" stroke-miterlimit="10"/><ellipse cx="-47.1144" cy="953.48" rx="149.196" ry="148.341" fill="%23012A2B"/><ellipse cx="31.4096" cy="1030.81" rx="149.196" ry="148.574" fill="%23567F80"/></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}
