@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("/css/satoshi.css");

body {
  font-family: "Satoshi-Variable";
}

.inter-family {
  font-family: "Inter", sans-serif;
}
.satoshi {
  font-family: "Satoshi-Variable";
}
.bg-green-secondary {
  background-color: #05f228;
}
.text-success {
  color: #05f228 !important;
}
.bg-white {
  background-color: #fff;
}
.bg-primary {
  background-color: #023f40 !important;
}

.bg-secondary {
  background-color: #f8f8f8 !important;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #023f40;
  --bs-btn-border-color: #023f40;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #013a3b;
  --bs-btn-hover-border-color: #012b2c;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #022627;
  --bs-btn-active-border-color: #012020;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #023f40;
  --bs-btn-disabled-border-color: #023f40;
}
.btn-secondary {
  --bs-btn-color: #023f40;
  --bs-btn-bg: #05f228;
  --bs-btn-border-color: #05f228;
  --bs-btn-hover-color: #023f40;
  --bs-btn-hover-bg: #37f754;
  --bs-btn-hover-border-color: #31eb4d;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #023f40;
  --bs-btn-active-bg: #31eb4d;
  --bs-btn-active-border-color: #28f747;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #05f228;
  --bs-btn-disabled-border-color: #05f228;
}

.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  color: #36474f;
  pointer-events: none;
  background-color: #ffffff;
  border-color: var(--bs-btn-disabled-border-color);
  opacity: 1;
  border-radius: 100px;
  border: 1px solid #e8e8e8 !important;
  background: #fff;
}

/* text classes */
.text-neutral {
  color: #36474f;
}
.steps-header {
  color: #023f40;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}
