@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("/css/satoshi.css");
body {
  font-family: "Satoshi-Variable";
}
.inter-family {
  font-family: "Inter", sans-serif;
}
.satoshi {
  font-family: "Satoshi-Variable";
}
.bg-green-secondary {
  background-color: #05f228;
}
.text-success {
  color: #05f228 !important;
}
.bg-white {
  background-color: #fff;
}
.bg-primary {
  background-color: #023f40 !important;
}
.bg-gradient {
  background: radial-gradient(at left top, #05f22923, #023f4000) !important;
}
.bg-gradient-nav {
  background: radial-gradient(at left bottom, #05f22923, #023f4000);
}
.bg-secondary {
  background-color: #f8f8f8 !important;
}
.vh-100 {
  min-height: 100vh !important;
}
.vh-header {
  min-height: 60vh !important;
}
.vh-80 {
  min-height: 80vh !important;
}
.vh-75 {
  min-height: 75vh !important;
}
.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #023f40;
  --bs-btn-border-color: #023f40;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #013a3b;
  --bs-btn-hover-border-color: #012b2c;
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #022627;
  --bs-btn-active-border-color: #012020;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #023f40;
  --bs-btn-disabled-border-color: #023f40;
}
.btn-secondary {
  --bs-btn-color: #023f40;
  --bs-btn-bg: #05f228;
  --bs-btn-border-color: #05f228;
  --bs-btn-hover-color: #023f40;
  --bs-btn-hover-bg: #37f754;
  --bs-btn-hover-border-color: #31eb4d;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #023f40;
  --bs-btn-active-bg: #31eb4d;
  --bs-btn-active-border-color: #28f747;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #05f228;
  --bs-btn-disabled-border-color: #05f228;
}
.btn:disabled,
.btn.disabled,
fieldset:disabled .btn {
  color: #36474f;
  pointer-events: none;
  background-color: #ffffff;
  border-color: var(--bs-btn-disabled-border-color);
  opacity: 1;
  border-radius: 100px;
  border: 1px solid #e8e8e8 !important;
  background: #fff;
}
.text-neutral {
  color: #36474f;
}
.bg-search {
  background-color: #f9fafa;
}
.steps-header {
  color: #023f40;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  font-size: 11px;
}
/* border */
.step-border {
  border-radius: 8px;
  background: rgba(204, 217, 217, 0.6);
  height: 9rem;
}
/* responsive */
@media (min-width: 992px) {
  .col-lg-4-modified {
    flex: 0 0 auto;
    width: 30.33333333%;
  }
}
.cta-image {
  max-width: 100%;
  max-height: 100%;
}
.cta-gradient {
  background: rgb(2, 63, 64);
  background: -moz-linear-gradient(
    90deg,
    rgba(2, 63, 64, 1) 44%,
    rgba(3, 110, 58, 1) 64%,
    rgba(3, 122, 56, 1) 78%,
    rgba(3, 104, 58, 1) 93%,
    rgba(2, 83, 61, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(2, 63, 64, 1) 44%,
    rgba(3, 110, 58, 1) 64%,
    rgba(3, 122, 56, 1) 78%,
    rgba(3, 104, 58, 1) 93%,
    rgba(2, 83, 61, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(2, 63, 64, 1) 44%,
    rgba(3, 110, 58, 1) 64%,
    rgba(3, 122, 56, 1) 78%,
    rgba(3, 104, 58, 1) 93%,
    rgba(2, 83, 61, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#023f40",endColorstr="#02533d",GradientType=1);
}
.cta-image {
  background: url("/img/images/cta.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.fs-8 {
  font-size: 0.8rem;
}

.fs-7 {
  font-size: 0.9rem;
}
.fs-9 {
  font-size: 0.7rem;
}
.fs-10 {
  font-size: 0.6rem;
}

.text-footer {
  color: #ccd9d9;
}
.text-footer-link {
  color: #ccd9d9;
}

.text-footer-link:hover {
  color: #ffffff;
}
ul li {
  list-style-type: none;
}

.text-black {
  color: #121212;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 1px #05f228;
}

.navbar-toggler {
  border: var(--bs-border-width) solid rgb(0 0 0 / 0%);
}

.navbar-toggler-light:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 1px #023f40 !important;
}

.navbar-toggler-light {
  border: var(--bs-border-width) solid rgb(0 0 0 / 0%);
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #023f40;
  --bs-btn-border-color: #023f40;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #012324;
  --bs-btn-hover-border-color: #031e1f;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #031e1f;
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #023f40;
  --bs-btn-disabled-border-color: #023f40;
}
.btn-info {
  --bs-btn-color: #000;
  --bs-btn-bg: #ccd9d94d;
  --bs-btn-border-color: #ccd9d94d;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #9aa7a74d;
  --bs-btn-hover-border-color: #ccd9d936;
  --bs-btn-focus-shadow-rgb: 11, 172, 204;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #ccd9d936;
  --bs-btn-active-border-color: #ccd9d936;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ccd9d94d;
  --bs-btn-disabled-border-color: #ccd9d94d;
  border-radius: 100px !important;
}

.text-purple {
  color: #023f40;
}

.bg-fff {
  background-color: #fff;
}
.btn-outline-primary {
  --bs-btn-color: #023f40;
  --bs-btn-border-color: #023f40;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #023f40;
  --bs-btn-hover-border-color: #023f40;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #023f40;
  --bs-btn-active-border-color: #023f40;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #023f40;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #023f40;
  --bs-gradient: none;
}
/* .preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  background: #ffffff;
}
.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 120px;
  height: 120px;
  display: grid;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #023f40 92%, #023f40);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}
.loader::before {
  margin: 4px;
  background-size: 9px 9px;
  animation-timing-function: linear;
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
} */
